
/*  "display:none;" esconde um determinado elemento.
    "visibility: hidden;" somente deixa o elemento invisivel.
    "opacity: 1;" podemos mexer na transparência do elemento, os valores vão de 0 à 1.
*/

ul {
    background-color: rgb(170, 162, 162);
    padding: 20px;
}

ul li {
    display: inline;
    margin: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}