* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counter {
    display: flex;;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: white;
    color: rgb(63, 63, 63);
}

.counter span {
    display: block;
    font-size: 50px;
    margin-bottom: 30px;
}

.counter button {
    margin: 5px 40%;
    height: 50px;
    font-size: 25px;
    border-style: none;
    border-radius: 30px;
    background-color: rgb(63, 63, 63);
    color: white;
}   

.counter button:hover {
    background-color: rgb(202, 187, 187);
}

