<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Considerando que no index.js já definimos onde estão os arquivos públicos, devemos colocar o diretório abaixo como se já estivessemos na pasta 'public' -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Hello world!</h1>
    
    <!-- No script a situação é a mesma, já definimos onde estão os arquivos estáticos, então colocamos o diretório abaixo como se ja estivessemos na pasta 'views' -->
    <script src="/js/main.js"></script>
</body>
</html>