<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Incluindo conteúdo do head -->
    <%- include('partials/head.ejs')%>
</head>
<body>

    <!-- Para incluir um outro arquivo .ejs em outro, basta usar a sintaxe abaixo -->

    <!-- Incluindo o header -->
    <%- include('partials/header.ejs')%>

    <h1>Posts</h1>
    <h2>Veja abaixo alguns posts</h2>

    <!-- Incluindo footer -->
    <%- include('partials/footer.ejs')%>
    
    <!-- Incluindo os scripts -->
    <%- include('partials/foot.ejs')%> 
</body>
</html>